
@import 'function.scss';
html,
body {
    width: 100%;
    height: 100%;
}
.wrap {
    overflow: hidden;
    max-width: 750px;
    min-width: 320px;
    margin: 0 auto;
}
.header {
    height: p2r(80);
    background-color: #f3f3f3;
    padding:0 p2r(52) 0 p2r(126);
    position: relative;
    a {
        position: absolute;
        left: p2r(26);
        top: p2r(24);
        color: #707070;
        span {
            display: inline-block;
            width: p2r(7);
            height: p2r(4);
            background: url('../images/index_06.png') no-repeat center;
            margin-left: p2r(11);
            vertical-align: middle;
        }
    }
    input{
        width: 100%;
        height: p2r(60);
        border-radius: p2r(30);
        margin-top: p2r(9);
        border: 1px solid #e8e8e8;
        padding-left: 31.17%;
        box-sizing: border-box;
        color: #cfcfcf;
        font-size: p2r(24);
        &::placeholder {
            color: #cfcfcf;
        }
    }
    i{
        position: absolute;
        right: p2r(70);
        top: p2r(24);
        width: p2r(30);
        height: p2r(30);
        background: url('../images/index_03.png') no-repeat center/p2r(30) p2r(30);
        
    }
}
.top-swiper-container {
    width: 100%;
    position: relative;
            a {
                display: inline-block;
                background-color: gray;
                width: 100%;
                img {
                    width: 100%;
                    // height: 100%;
                    // height: p2r(364);
                    height: auto;
                }
            }
    }
 #top-pagination-bar {
     bottom: 2px;
 }
 #top-pagination-bar .swiper-pagination-bullet {
   background-color: #fff5f5;
   opacity: 1;
}
 #top-pagination-bar .swiper-pagination-bullet-active {
    background-color: #fe3432;
 }
//  .ticket {
   
//          width: p2r(228);
//          height: p2r(199);
//          position: absolute;
//          right: p2r(30);
//          top: p2r(80);
//          z-index: 2;
//      img {
//          width: p2r(228);
//          height: p2r(199);
//      }
//  }
 .message {
     height: p2r(64);
     line-height: p2r(64);
     padding-left: p2r(20);
     background-color: #f3f3f3;
     box-sizing: border-box;
     i {    
          float: left;
          margin-top: p2r(18);
          margin-right: p2r(8);
          width: p2r(28);
          height: p2r(28);
          background: url(../images/index_13.png) no-repeat center/p2r(28) p2r(28);
     }
     strong {
         color: #fd5a59;
     }
      span {
            color: #989898;
            font-size: p2r(22);
            width: p2r(560);
            height: p2r(22);
         }
 }
 .nav {
     padding-top: p2r(22);
     li {
         float: left;
         width: 25%;
        display: flex;
        justify-content: center;
        margin-bottom: p2r(30);
        a {
            display: block;
        }
        img {
            display: block;
            margin: 0 auto;
            width: p2r(80);
            height: p2r(80);
        }
         p {
             text-align: center;
             margin-top: p2r(8);
             
         }
     }
 }
 .bank-active {
    //  height: p2r(266);
     background-color: #f3f3f3;
     padding-top: p2r(20);
     padding-bottom: p2r(20);
    //  box-sizing: border-box;
     .bank {
        //  width: 100%;
         height: p2r(228);
         background: url('../images/bankbg.png') no-repeat center;
         background-size:cover;
         h3 {
             color: #ff5400;
             text-align: center;
             padding-top: p2r(30);
             padding-bottom: p2r(24);
         }
         span {
            display: inline-block;
            vertical-align: middle;
            width: p2r(58);
            height: 1px;
            background: url('../images/index200.png') no-repeat center;
             margin-left: p2r(14);
             margin-right: p2r(14);
         }
         li {
             float: left;
             width: 20%;
             display: flex;
             justify-content: center;
             a {
             }
             img {
                 display: block;
                 margin: 0 auto;
                 width: p2r(65);
                 height: p2r(65);
             }
             p {
                 text-align: center;
                 margin-top: p2r(8);
             }
         }
     }
 }
 section {
     padding: 0 p2r(20);
 }
 .top {
    height: p2r(63);
    line-height: p2r(63);
     .left {
         i {
             display: inline-block;
             width: p2r(23);
             height: p2r(22);
             background: url('../images/index_54.png') no-repeat center/cover;
             float: left;
             margin-top: p2r(22);
         }
         strong {
             color: #fe3432;
             margin-left: 2px;
             float: left;
         }
     }
     .right {
         em {
             color: #6b6b6b;
         }
         i {
             display: inline-block;
             width: p2r(19);
             height: p2r(19);
             background: url('../images/index_56.png') no-repeat center/cover;
         }
     }
 }
.content {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    li {
        width: p2r(344);
        height: p2r(381);
        border: 1px solid #ececec;
        margin-bottom: p2r(19);
        float: left;
        position: relative;
        &:nth-child(even) {
            // margin-right: p2r(15);
            float: right;
        }
        img {
            width: 100%;
            height: p2r(226);
        }
        p {
            margin: p2r(21) 0 0 p2r(21);
            width: p2r(276);
            color: #737373;
            height: p2r(24);
            line-height: p2r(32);
        }
    }
     .price {
         width: 100%;
         box-sizing: border-box;
         color: #a8a8a8;
         padding-left: p2r(20);
         padding-right: p2r(18);
         position: absolute;
         bottom: p2r(19);
         height: p2r(42);
         line-height: p2r(42);
         
         strong {
             color: #fe3432;
             font-size: p2r(18);
         }
         span {
         color: #a8a8a8;
         font-size: p2r(10);
         }
         a {
             color: #ff6000;
             float: right;
             border: p2r(2) solid #c4c4c4;
             border-radius: 20px;
             padding: 0 p2r(10);
             height: p2r(40);
             line-height: p2r(40);
         }
     }
}
@media screen and (max-width:368px){
  .content li {
      
  }
}
// .bank-active .performance {
//      height: p2r(300);
//      background: url('../images/index_85.png') no-repeat center/cover;
// }
/*神韵演出轮播图*/
.active-swiper-container {
    width: 100%;
    position: relative;
            a {
                display: inline-block;
                background-color: gray;
                width: 100%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
    }
 #active-pagination-bar {
     bottom: 2px;
 }
 #active-pagination-bar .swiper-pagination-bullet {
   background-color: #fff5f5;
   opacity: 1;
}
 #active-pagination-bar .swiper-pagination-bullet-active {
    background-color: #fe3432;
 }
#scenery {
     display: inline-block;
     width: p2r(27);
     height: p2r(21);
     background: url('../images/index_88.png') no-repeat center/cover;
}
// .bank-active .hot-spring {
//      height: p2r(300);
//      background: url('../images/index_117.png') no-repeat center/cover;
// }
/*天然温泉轮播图*/
.spring-swiper-container {
    width: 100%;
    position: relative;
            a {
                display: inline-block;
                background-color: gray;
                width: 100%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
    }
 #spring-pagination-bar {
     bottom: 2px;
 }
 #spring-pagination-bar .swiper-pagination-bullet {
   background-color: #fff5f5;
   opacity: 1;
}
 #spring-pagination-bar .swiper-pagination-bullet-active {
    background-color: #fe3432;
 }
#food {
     display: inline-block;
     width: p2r(22);
     height: p2r(21);
     background: url('../images/index_120.png') no-repeat center/cover;
}
/*美食轮播图*/
.food-swiper-container {
    width: 100%;
    position: relative;
            a {
                display: inline-block;
                background-color: gray;
                width: 100%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
    }
 #food-pagination-bar {
     bottom: 2px;
 }
 #food-pagination-bar .swiper-pagination-bullet {
   background-color: #fff5f5;
   opacity: 1;
}
 #food-pagination-bar .swiper-pagination-bullet-active {
    background-color: #fe3432;
 }
 #grogshop {
     display: inline-block;
     width: p2r(26);
     height: p2r(23);
     background: url('../images/index_152.png') no-repeat center/cover;
     margin-top: p2r(19);
}
.footer {
    width: 100%;
    // height: p2r(126);
    background-color: #f3f3f3;
    padding-top: p2r(20);
    // position: fixed;
    // left: 0;
    // bottom: 0;
}
 .function {
        border-top: p2r(3) solid #cecece;
        li {
            float: left;
            width: 25%;
            height: p2r(104);
            display: flex;
            justify-content: center;
            a {
                width: 100%;
                display: block;
                padding-top: p2r(15);
            }
            img {
                display: block;
                margin: 0 auto;
                width: p2r(41);
                height: p2r(41);
            }
            p {
                margin-top: p2r(9);
                text-align: center;
            }
        }
    }