    @import 'normalize6.0.scss';
    @import 'base.scss';
    .Mai-layout {
        min-width: 320px;
        max-width: 640px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        >.top {
            height: 109px;
            border-bottom: 10px solid #f1f1f1;
            .header {
                width: 100%;
                height: 49px;
                background-color: #ff841d;
                color: white;
                padding: 10px;
                position: relative;
                h3 {
                    font-size: 24px;
                    float: left;
                }
                span {
                    float: left;
                    font-size: 14px;
                    height: 24px;
                    line-height: 12px;
                    padding-left: 5px;
                    padding-top: 5px;
                }
                a {
                    float: right;
                    width: 49px;
                    height: 49px;
                    background: url('../images/header_app.png') no-repeat center/ 35px 35px;
                    position: absolute;
                    right: 4px;
                    top: 2px;
                }
            }
            .search {
                height: 50px;
                padding: 10px;
                display: flex;
                input {
                    height: 30px;
                    border-radius: 30px;
                }
                input:first-child {
                    color: #b68888;
                    width: 100%;
                    padding-left: 20px;
                    background-color: #f1f1f1;
                    margin-right: 10px;
                }
                input:last-child {
                    color: white;
                    background-color: #ff841d;
                    width: 64px;
                }
            }
        }
        .main-swiper-container {
            >.swiper-wrapper {
                height: 100%;
                >.swiper-slide {
                    height: auto;
                }
            }
        }
        .main-swiper-container {
            // min-height: 100px;
            height: 100%;
            flex: 1;
            overflow: hidden;
            position: relative;
            padding-top: 25px;
            ul {
                li {
                    width: 25%;
                    float: left;
                    a {
                        display: block;
                        display: flex;
                        flex-direction: column;
                        // justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        color: black;
                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                        }
                        p {
                            padding-top: 10px;
                            padding-bottom: 18px;
                            font-size: 12px;
                        }
                    }
                }
                li.ul-more {
                 display: none;
                }
            }
            
            .zheKou {
                height: 39px;
                background-color: #ff9a18;
                padding: 8px;
                color: white;
                display: flex;
                justify-content: space-between;
                border-top: 5px solid #f1f1f1;
                h3 {
                    font-size: 16px;
                }
                a {
                    display: block;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    width: 22px;
                    height: 22px;
                    color: white;
                }
            }
            .zk-container-main {
                .zk-container {
                    // height: 130px;
                    border: 1px solid #e7e7e7;
                    padding: 18px 10px 10px 20px;
                    a {
                        display: block;
                        height: 100%;
                        color: black;
                        display: flex;
                        .left {
                            width: 118px;
                            height: 100px;
                            img {
                                width: 100px;
                                height: 100px;
                            }
                        }
                        .right {
                            flex: 1;
                            p:first-child {
                                padding-bottom: 30px;
                                span {
                                    color: #ffa74f;
                                    font-size: 18px;
                                    // display: inline-block;
                                    line-height: 28px;
                                }
                            }
                            p:last-child {
                                color: #a1a1a1;
                                font-size: 12px;
                                span {
                                    float: right;
                                }
                            }
                        }
                    }
                }
            }
            .moreCheap {
                height: 40px;
                padding: 5px;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #e7e7e7;
                    border-radius: 5px;
                    text-align: center;
                    line-height: 30px;
                    color: black;
                    font-size: 12px;
                }
            }
            .paihang {
                height: 80px;
                background-color: #f1f1f1;
                padding-top: 15px;
                .pinpai {
                    height: 40px;
                    line-height: 40px;
                    background-color: #ff9f23;
                    padding-left: 10px;
                    padding-right: 10px;
                    color: white;
                    span {
                        float: right;
                        position: relative;
                    }
                    span::before {
                        // margin-top: 15px;
                        content: '';
                        width: 20px;
                        height: 20px;
                        border: 1px solid white;
                        border-radius: 50%;
                        position: absolute;
                        top: 10px;
                        right: -5px;
                    }
                }
            }
            .foot {
                background-color: #f1f1f1;
                >.top {
                    border-top: 1px solid #c4c4c4;
                    border-bottom: 1px solid #c4c4c4;
                    height: 42px;
                    ul {
                        li {
                            &:first-child {
                                width: 30%;
                                border-right: 1px solid #c4c4c4;
                            }
                            &:nth-child(2) {
                                width: 30%;
                                border-right: 1px solid #c4c4c4;
                            }
                            &:last-child {
                                width: 40%;
                                img {
                                    width: 15px;
                                    height: 15px;
                                    // vertical-align: top;
                                }
                            }
                            a {
                                display: inline-block;
                                height: 40px;
                                line-height: 40px;
                                text-align: center;
                                font-size: 14px;
                            }
                        }
                    }
                }
                >.bot {
                    h4 {
                        padding-top: 15px;
                        text-align: center;
                        color: black;
                        font-size: 14px;
                        span {
                            color: red;
                        }
                        em {
                            color: gray;
                        }
                    }
                    p {
                        color: gray;
                        font-size: 10px;
                        text-align: center;
                        padding-top: 5px;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }