@charset "UTF-8";

.top-banner {
  height: 80px;
  background-color: #c40502;
}

.top-banner .w {
  position: relative;
  z-index: 1;
}

.top-banner .close-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-family: "微软雅黑";
  position: absolute;
  top: 5px;
  right: 5px;
}

.top-nav {
  height: 30px;
  line-height: 30px;
  background-color: #e3e4e5;
}

.list-left {
  margin-left: 200px;
}

.list-left .dt .iconfont {
  color: red;
}

.dt {
  height: 28px;
  line-height: 28px;
  border: 1px solid #e3e4e5;
  padding: 0 7px;
}

.dt:hover {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-bottom: 1px solid #ffffff;
}

.list-right li {
  float: left;
}

.list-right .line {
  width: 1px;
  height: 10px;
  background-color: #ccc;
  margin: 10px 7px 0;
}

.colorRed {
  color: #f10215;
}

.list-right .dt .iconfont {
  position: relative;
  top: 3px;
}

.list-right .phone {
  position: relative;
}

/*手机京东下面的小箭头制作*/
.list-right .phone:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid #fff;
  position: absolute;
  left: 19px;
  top: 20px;
}

/*手机京东下面的二维码*/
.phone span {
  display: inline-block;
  width: 62px;
  height: 62px;
  background: url("../img/erweima.jpg") 50% no-repeat;
  position: absolute;
  left: -5px;
  border: 1px solid #ccc;
}

body {
  background-color: #F6F6F6;
}

/*顶部主体开始*/
.top-main {
  position: relative;
  padding-bottom: 6px;
}

.logo {
  position: absolute;
  top: -30px;
  left: 0;
  width: 190px;
  height: 170px;
  /*box-shadow:水平移动 垂直移动 晕染范围 颜色;*/
  box-shadow: 0px -2px 5px #9b9b9b;
}

.top-main .logo a {
  display: inline-block;
  width: 190px;
  height: 170px;
  background: url("../img/logo.gif");
  text-indent: -2000px;
  /*font-size: 0;*//*第二种隐藏的方式*/
}

/*搜索区域*/
.top-main .search {
  margin-left: 320px;
  margin-top: 25px;
  border: 1px solid #f10215;
  position: relative;
}

.top-main .search .text {
  width: 493px;
  height: 33px;
  padding-left: 5px;
}

.top-main .search .btn {
  width: 50px;
  height: 33px;
  background-color: #f10215;
}

.top-main .search .zoomJ {
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  right: 16px;
  top: 6px;
  cursor: pointer;
}

.top-main .gouwuche {
  width: 188px;
  height: 33px;
  line-height: 31px;
  margin-left: 31px;
  border: 1px solid #e3e4e5;
  margin-top: 25px;
  background-color: #ffffff;
  text-align: center;
  color: #da0000;
  position: relative;
}

.top-main .gouwuche span {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-color: #f10215;
  color: #ffffff;
  /*border-radius: 8px 8px 8px 8px;*/
  border-radius: 8px;
  position: absolute;
  right: 30px;
  top: 5px;
}

.hotword {
  margin-left: 320px;
  float: left;
}

.hotword ul li {
  float: left;
  padding-right: 5px;
  line-height: 31px;
}

.fenlei {
  float: left;
  margin-left: 230px;
  margin-top: 20px;
}

.fenlei ul li {
  float: left;
  color: #555555;
  font-size: 16px;
  font-weight: 700;
  font-family: "微软雅黑";
  padding-right: 30px;
}

/*活动区域*/
.huodong {
  float: right;
}

.huodong a {
  display: inline-block;
  width: 190px;
  height: 40px;
  background: url("../img/chunlei.png");
}

/*底部开始*/
.footer {
  background-color: #eaeaea;
}

.top-fot {
  height: 102px;
  line-height: 102px;
  border-bottom: 1px solid #dedede;
}

.top-fot li {
  width: 251px;
  padding-left: 46px;
}

.top-fot li, .top-fot h5, .top-fot p {
  float: left;
  font-family: "微软雅黑";
  font-size: 18px;
  font-weight: 700;
  color: #444;
}

.top-fot h5 {
  width: 36px;
  height: 42px;
  line-height: 42px;
  margin-top: 31px;
  margin-right: 10px;
  background: url("../img/ico_service.png");
  text-indent: -2000px;
}

.top-fot h5.k {
  background-position: 0 -43px;
}

/*底部列表区域*/
.footer .mid-fot dl {
  float: left;
  width: 198px;
  margin-top: 15px;
}

.mid-fot dt {
  font-size: 14px;
  font-family: "微软雅黑";
  color: #666;
  font-weight: 700;
  line-height: 30px;
}

.mid-fot dd {
  font-family: "微软雅黑";
  line-height: 20px;
  color: #666;
  
}

.mid-fot dl.cover {
  width: 180px;
  height: 152px;
  padding: 0 10px;
  background: url("../img/ico_footer.png");
}

.mid-fot .cover dt {
  text-align: center;
}

.mid-fot .cover a {
  float: right;
}

/*底部联系我们区域*/
.bot-fot {
  margin-top: 10px;
  /*margin-bottom: 30px;*/
  border-top: 1px solid #e1e1e1;
  height: 150px;
}

.bot-fot p {
  text-align: center;
  line-height: 25px;
}

.bot-fot .firstP {
  margin: 10px 0;
  color: #666;
}

.bot-fot .firstP a {
  margin: 0 3px;
}

/*.bot-fot .firstP ul{*/
/*height: 32px;*/
/*}*/

.pic-list li {
  width: 103px;
  height: 32px;
  float: left;
  background: url("../img/ico_footer.png");
}

.pic-list {
  margin-left: 310px;
}

.pic-list .pic1 {
  background-position: 0 -152px;
}

.pic-list .pic2 {
  background-position: -103px -152px;
}

.pic-list .pic3 {
  background-position: 0 -184px;
}

.pic-list .pic4 {
  background-position: -103px -184px;
}

.pic-list .pic5 {
  background-position: 0 -216px;
}

.pic-list .pic6 {
  background-position: -103px -216px;
}


