@import "function.scss";
html,body {
    width: 100%;
    height: 100%;
}
.layout {
    max-width: p2r(640);
    // height: 1145px;
    position: relative;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    height: p2r(76);
    width: 100%;
    padding: p2r(23) p2r(28) 0;
    background: rgba(0,0,0,.3);
    z-index: 99;
    .logo {
        img {
            width: p2r(136);
            height: p2r(35);
        }
    }
    .btn {
        display: inline-block;
        float: right;
        // z-index: 9999999;
        li {
            // display: inline-block;
            width: p2r(37);
            height: p2r(6);
            margin-bottom: p2r(6);
            background-color: white;
            border-radius: 5%;
        }
    }
}
.footer {
    height: p2r(140);
    width: 100%;
    background-color: black;
    padding-top: p2r(16);
    margin-top: -4px;
    position: fixed;
    bottom: 0;
    .contact {
        margin-bottom: p2r(5);
        img {
            display: block;
            margin: 0 auto;
           width: p2r(410);
           height: p2r(62);
        }
    }
    p {
        color: #252424;
        font-size: p2r(20);
        text-align: center;
    }
}
.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    z-index: 1100;
    right: 100%;
    .message {
        width: 70%;
        background-color: black;
        height: 100%;
        ul {
            padding: 0 20px;
        }
        li {
            // width: 100%;
            border-bottom: 1px solid white;
            a {
            width: 100%;
            padding: 14px 0;
            display: block;
            color: white;
            font-size: 16px;
            span {
                // display: inline-block;
                float: right;
                width: p2r(14);
                height: p2r(10);
                margin-top: 7px;
                background: url('../images/index/menu-down.png') no-repeat center;
            }
            }
        }
    }
    .car-type {
        padding-left: 30px;
        .car-type-list {
            a {
                font-size: 12px;
                padding: 8px 0;
            }
        }
    }
}