@import '../lib/swiper/swiper.min.scss';
@import '../lib/normalize/normalize6.0.scss';
@import 'base.scss';
// 导入 function 内部封装了 转化为rem的 函数
@import 'function.scss';
html,
body {
    height: 100%;
}

// 顶级的swiper
.root-swiper-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; // 这里使用>的目的是 后续内部还会使用swiper
    // 为了避免出现 样式冲突 使用>约束为子节点
    >.swiper-wrapper {
        // 使用剩余的高度
        flex: 1;
        >.swiper-slide:nth-child(1) {
            // background-color: hotpink;
        }
        >.swiper-slide:nth-child(2) {
            // background-color: red;
        }
        >.swiper-slide:nth-child(3) {
            // background-color: skyblue;
        }
        >.swiper-slide:nth-child(4) {
            // background-color: deepskyblue;
        }
    }
    >#rootTabbar {
        height: p2r(90); // background-color: #fefefe;
        background-color: #fefefe; // 去除定位
        position: static;
        span {
            width: 20%;
            height: 100%;
            position: absolute;
            margin: 0;
            padding-top: p2r(60); // 把内容 往下进行压缩
            font-size: p2r(18);
            &:nth-child(1) {
                left: 0; //  这里使用的是 scss 如果出现/ 会当作 除法进行计算
                // 所以把 background-size 另起一行进行编写
                background: url('../images/01.app-icons/bb_btn_home_unselect.png') no-repeat center p2r(12);
                background-size: p2r(40) p2r(40);
            }
            &:nth-child(2) {
                left: 20%;
                background: url('../images/01.app-icons/bb_btn_label_unselect.png') no-repeat center p2r(12);
                background-size: p2r(52) p2r(40);
            }
            &:nth-child(3) {
                right: 20%;
                background: url('../images/01.app-icons/bb_btn_message_unselect.png') no-repeat center p2r(12);
                background-size: p2r(40) p2r(40);
            } //  这个才是最右边的
            &:nth-child(4) {
                right: 0%;
                background: url('../images/01.app-icons/bb_btn_account_unselect.png') no-repeat center p2r(12);
                background-size: p2r(40) p2r(40);
            }
        } // 照相机图标的 a标签
        a.camera {
            position: absolute;
            width: 20%;
            left: 40%; // background-color: hotpink;
            height: 100%;
            background: url('../images/01.app-icons/bb_btn_post_select.png')no-repeat center /p2r(84) p2r(56);
        }
    }
}

// 区域1的 swiper
.section1-swiper-container {
    display: flex;
    flex-direction: column; // 设置溢出隐藏
    overflow: hidden;
    background-color: #f2f5f4;
    height: 100%; // 区域1的分页器
    >#sec1Tabbar {
        height: p2r(75);
        background-color: white;
        position: static; // 默认就是span
        >span {
            width: p2r(215);
            text-align: center;
            line-height: p2r(75);
            border-radius: 0;
            height: 100%;
            margin: 0;
            opacity: 1;
            background-color: white;
            &.swiper-pagination-bullet-active {
                border-bottom: p2r(5) solid #9aca00;
            }
        } // 添加好友
        a.addFriends {
            position: absolute;
            width: p2r(100);
            height: p2r(75);
            right: 0;
            top: 0; // background-color: yellowgreen;
            background: url('../images/01.app-icons/dashboard_find_friend.png') no-repeat center / p2r(44) p2r(34);
        }
    }
    >.swiper-wrapper {
        flex: 1;
    }
}

// 区域1 订阅区域的 swiper样式
.section1 {
    .section1-book-container {
        height: 100%;
        >.swiper-wrapper {
            >.swiper-slide {
                height: auto;
            }
        } // 让权重 稍微低一些
        h3 {
            padding: p2r(24) 0 p2r(24) p2r(28);
            color: #828282;
            background-color: white;
        }
        ul {
            background-color: white;
            li {
                height: p2r(105);
                display: flex;
                .left {
                    height: 100%;
                    width: p2r(126);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a {
                        display: block;
                        width: p2r(72);
                        height: p2r(72);
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .right {
                    flex: 1;
                    height: 100%;
                    border-bottom: 1px solid #e2e2e2;
                    display: flex;
                    justify-content: space-between;
                    .content-left {
                        height: 100%;
                        p {
                            font-size: p2r(20);
                            text-align: left;
                        }
                        p:first-child {
                            color: black;
                            padding-top: p2r(24);
                            padding-bottom: p2r(18);
                        }
                        p:last-child {
                            color: #b3b3b3;
                            padding-bottom: p2r(20);
                        }
                    }
                    .content-right {
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-right: p2r(28);
                        input {
                            width: p2r(84);
                            height: p2r(49);
                            border: 1px solid yellowgreen;
                            border-radius: p2r(49);
                            background-color: transparent;
                            color: yellowgreen;
                        }
                    }
                }
            }
        }
    }
}

// 区域2的布局
.section2 {
    display: flex;
    flex-direction: column;
    .section2-header {
        padding: p2r(12) p2r(20);
        background-color: white;
        input {
            height: p2r(60);
            width: 100%;
            border-radius: p2r(10);
            background-color: #eeeeee;
        }
    }
    .section2-main {
        flex: 1; // background-color: hotpink;
        overflow: hidden;
        .section2-main-container {
            //  让以定位方式 设置位置的 滚动条 参照物 是他 
            position: relative;
            width: 100%;
            height: 100%; // 设置宽高
            >.swiper-wrapper>.swiper-slide {
                height: auto;
            }
        }
    } // 轮播区域 
    .section2-main-banner {
        height: p2r(258);
        position: relative;
        >.swiper-wrapper {
            height: 100%;
            >.swiper-slide {
                height: 100%;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    img {
                        display: block;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    } // 穿搭轮播区域
    .section2-cloth-container {
        height: p2r(705);
        background-color: #eee;
        padding-top: p2r(36);
        padding-bottom: p2r(77);
        >.swiper-wrapper {
            height: 100%;
            >.swiper-slide {
                background-color: yellowgreen;
                width: p2r(492);
                height: p2r(592);
            }
        }
    } // 达人推荐区域
    .superPerson {
        background-color: white;
        h3 {
            color: #969696;
            padding-top: p2r(33);
            padding-left: p2r(32);
            padding-bottom: p2r(41);
            font-size: p2r(32);
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                width: 33.333333%;
                a {
                    width: 100%;
                    display: block;
                    img {
                        display: block;
                        width: p2r(176);
                        height: p2r(176);
                        border-radius: 50%;
                        margin: 0 auto;
                    }
                    p {
                        text-align: center;
                        &:first-of-type {
                            padding: p2r(17) 0;
                            color: black;
                        }
                        &:last-of-type {
                            color: #9a9a9a;
                            padding-bottom: p2r(52);
                        }
                    }
                }
            }
        }
        .more {
            a {
                display: block;
                height: p2r(109);
                text-align: center;
                line-height: p2r(109);
                color: yellowgreen;
                border-top: 1px solid #dcdcdc;
            }
        }
    }
}

// 区域3的 swiper
.section3-swiper-container {
    display: flex;
    flex-direction: column; // 设置溢出隐藏
    overflow: hidden;
    background-color: #f2f5f4;
    height: 100%; // 区域3的分页器
    >#sec3Tabbar {
        height: p2r(75);
        background-color: white;
        position: static; // 默认就是span
        display: flex;
        >span {
            flex: 1;
            text-align: center;
            line-height: p2r(75);
            border-radius: 0;
            height: 100%;
            margin: 0;
            opacity: 1;
            background-color: white;
            &.swiper-pagination-bullet-active {
                border-bottom: p2r(5) solid #9aca00;
            }
        }
    }
    >.swiper-wrapper {
        flex: 1;
    }
}

// 区域3 内容的 三个 swiper 
.section3 {
    //  动态区域
    .section3-movement-container {
        height: 100%;
        >.swiper-wrapper {
            >.swiper-slide {
                height: auto;
            }
        }
        section {
            background-color: white;
            display: flex;
            .left {
                display: flex;
                justify-content: center;
                // 副轴方向 最上面
                align-items: flex-start;
                width: p2r(106);
                padding-top: p2r(20);
                a {
                    display: block;
                    width: p2r(73);
                    height: p2r(73);
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
            }
            .right {
                flex: 1;
                border-bottom: 1px solid #e5e5e5;
                h3{
                    padding-top: p2r(25);
                    color:black;
                    font-weight: normal;
                    font-size:p2r(23);
                    span{
                        color:#afafaf;
                    }
                }
                p{
                    font-size:p2r(23);
                    padding-top: p2r(21);
                    color:#d5d5d5;
                }
                .right-content{
                    display: flex;
                    //  开启弹性布局换行 
                    flex-wrap: wrap;
                    padding-top: p2r(18);
                    padding-bottom: p2r(18);
                    .item{
                        width: p2r(122);
                        height: p2r(122);
                        margin-right: p2r(6);
                        margin-bottom: p2r(6);
                        background-color: #ededed;
                        overflow: hidden;
                        a{
                            display: block;
                            width: 100%;
                            height: 100%;
                            img{
                                display: block;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    } //  信息区域 
    .section3-message-container {
        height: 100%;
        >.swiper-wrapper {
            >.swiper-slide {
                height: auto;
            }
        }
        section {
            height: p2r(122);
            background-color: white;
            display: flex;
            .left {
                display: flex;
                justify-content: center;
                align-items: center;
                width: p2r(129);
                a {
                    display: block;
                    width: p2r(54);
                    height: p2r(54);
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .right {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: p2r(6);
                padding-right: p2r(28);
                border-bottom: 1px solid #eeeeee;
                h3 {
                    font-weight: normal;
                }
                img {
                    display: block;
                    width: p2r(16);
                    height: p2r(25);
                }
            }
        }
    } // 聊天区域 
    .section3-chat-container {
        height: 100%;
        >.swiper-wrapper {
            >.swiper-slide {
                height: auto;
            }
        }
        section {
            display: flex;
            background-color: white;
            .left {
                width: p2r(139);
                height: p2r(123);
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    display: block;
                    width: p2r(90);
                    height: p2r(90);
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
            }
            .right {
                flex: 1;
                padding-top: p2r(33);
                h3 {
                    display: flex;
                    justify-content: space-between;
                    font-size: p2r(24);
                    span {
                        color: #c7c7c7;
                        margin-right: p2r(21);
                    }
                }
                p {
                    padding-top: p2r(17);
                    color: #999999;
                    font-size: p2r(24);
                }
            }
        }
    }
}


// loading div的 样式
.loading{
    width: 100%;
    height: p2r(100);
    background: url('../images/03.loading/loading.gif') no-repeat center / p2r(120) p2r(120);
}