body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li, dt, dd {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
  list-style: none;
  color: #7b7b7b;
}

a {
  text-decoration: none;
  color: #9f9f9f;
  -webkit-tap-highlight-color: transparent;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.clearfix {
  zoom: 1;
}

input, img {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline-style: none;
  vertical-align: middle;
  -webkit-appearance: none;
}

i, s, em {
  font-style: normal;
  text-decoration: none;
}

.core {
  width: 1000px;
  margin: 0 auto;
}
