.layout {
  background: url("../images/try/try_02.jpg");
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 180px;
}

.center-pic {
  width: 100%;
  position: absolute;
  margin-top: -2.60938rem;
  top: 50%;
}
.center-pic img {
  position: absolute;
  left: 50%;
  margin-left: -5.71875rem;
  margin-top: -2.60938rem;
  display: block;
  width: 11.4375rem;
  height: 5.21875rem;
  position: absolute;
  -webkit-animation: changeSize .8s 1.2s forwards;
          animation: changeSize .8s 1.2s forwards;
}
@-webkit-keyframes changeSize {
  to {
    -webkit-transform: translateY(-130%) scale(0.6, 0.6);
            transform: translateY(-130%) scale(0.6, 0.6);
  }
}
@keyframes changeSize {
  to {
    -webkit-transform: translateY(-130%) scale(0.6, 0.6);
            transform: translateY(-130%) scale(0.6, 0.6);
  }
}
.center-pic p {
  text-align: center;
  color: white;
  margin-top: 100px;
}

.car {
  position: absolute;
  right: 70%;
  top: 30%;
  opacity: 0;
  -webkit-animation: appear 1.5s 2s linear forwards;
          animation: appear 1.5s 2s linear forwards;
}
.car .red-car {
  width: 41.92188rem;
  height: 12.5rem;
}
.car .wheel {
  width: 5.9375rem;
  height: 5.9375rem;
  position: absolute;
  right: 11%;
  top: 42%;
  -webkit-animation: wheelRotate .2s 3s linear infinite;
          animation: wheelRotate .2s 3s linear infinite;
}
.car .wheel-2 {
  position: absolute;
  right: 70.7%;
  top: 42%;
}
@-webkit-keyframes appear {
  0% {
    opacity: .8;
  }
  30% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}
@keyframes appear {
  0% {
    opacity: .8;
  }
  30% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}
@-webkit-keyframes wheelRotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes wheelRotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.form-input {
  padding: 100px 15px 30px;
  height: 100%;
}
.form-input input, .form-input select {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  background-color: #5E5D5E;
  font-size: 20px;
  padding-left: 10px;
  outline: none;
  border: none;
}
.form-input input[type="submit"] {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
}

.form-head {
  text-align: center;
  color: white;
  opacity: 0;
  -webkit-animation: head-appear 2s 3s forwards;
          animation: head-appear 2s 3s forwards;
}
.form-head p {
  display: inline-block;
  padding: 10px 5px;
  font-size: 18px;
  border-bottom: 3px solid #fff;
  margin-bottom: 20px;
}
@-webkit-keyframes head-appear {
  to {
    opacity: 1;
  }
}
@keyframes head-appear {
  to {
    opacity: 1;
  }
}
.form-swiper-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  -webkit-animation: formMove 1s 3s forwards;
          animation: formMove 1s 3s forwards;
  opacity: 0;
}
.form-swiper-container > .swiper-wrapper > .swiper-slide {
  height: auto;
}
@-webkit-keyframes formMove {
  from {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes formMove {
  from {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
